[user]
	email = davidthigs@gmail.com
	name = David Thigpen
[core]
	editor = micro
	# editor = code --wait
	compression = 9
	whitespace = error
	preloadindex = true

[diff]
    tool = micro
	colormoved = "default"
	colormovedws = "allow-indentation-change"
	context = 3
	renames = copies
	interHunkContext = 10

#[difftool "vscode"]
#    cmd = code --wait --diff $LOCAL $REMOTE
[merge]
    tool = micro
[mergetool "micro"]
    cmd = micro $MERGED
[alias]
	ec = config --global --edit
	br = branch
    # brs = !git for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:short)%(color:reset))'
	cmm = commit -m
	co = checkout
	cob = checkout -b
	a = add -u # add only tracked files
	aa = add -A # add all, including untracked
	lc = log -1
	undo = reset --soft HEAD~1
	rename = branch -m
	unstage = restore --staged
	amend = commit --amend --date=now
	lc = log -1
	lg = log
	lgp = log --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --decorate=full
	url = remote -v
	rb = rebase --ignore-date
	pl = pull
	plf = pull --ff-only
	ds = diff --staged
	# The nudge and fixref aliases are specifically for usage with bare-repos synced with Syncthing, niche, I know.
	# Basically Syncthing sometimes has issues syncing both the branch refs and commit refs, a "nudge" after a push fixes that.
	# And "fixref" is for repairing a dangling commit state
	nudge = "!f() {\n  branch=$(git rev-parse --abbrev-ref HEAD) || exit 1\n  remote=$(git remote get-url origin) || exit 1\n  case \"$remote\" in\n    /*) path=\"$remote\" ;;\n    ~*) path=\"${remote/#\\~/$HOME}\" ;;\n    *) echo \"Remote is not a local path\"; exit 1 ;;\n  esac\n  touch \"$path/refs/heads/$branch\"\n}; f"
	fixref = "!f() {\n  hash=$1\n  if [ -z \"$hash\" ]; then\n    echo \"Usage: git fixref <commit-hash>\"\n    exit 1\n  fi\n  branch=$(git rev-parse --abbrev-ref HEAD) || exit 1\n  remote=$(git remote get-url origin) || exit 1\n  case \"$remote\" in\n    /*) path=\"$remote\" ;;\n    ~*) path=\"${remote/#\\~/$HOME}\" ;;\n    *) echo \"Remote is not a local path\"; exit 1 ;;\n  esac\n  git --git-dir=\"$path\" update-ref \"refs/heads/$branch\" \"$hash\"\n}; f"
[pull]
	default = current
	rebase = true
[push]
    autoSetupRemote = true
    default = current
    followTags = true
[rebase]
	autoStash = true
	missingCommitsCheck = warn
[init]
	defaultBranch = main
