[user]
	email = davidthigs@gmail.com
	name = David Thigpen
[core]
	editor = micro
	# editor = code --wait
	compression = 9
	whitespace = error
	preloadindex = true

[diff]
    tool = micro
	colormoved = "default"
	colormovedws = "allow-indentation-change"
	context = 3
	renames = copies
	interHunkContext = 10

#[difftool "vscode"]
#    cmd = code --wait --diff $LOCAL $REMOTE
[merge]
    tool = micro
[mergetool "micro"]
    cmd = micro $MERGED
[alias]
	ec = config --global --edit
	br = branch
    # brs = !git for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:short)%(color:reset))'
	cmm = commit -m
	co = checkout
	cob = checkout -b
	a = add -u # add only tracked files
	aa = add -A # add all, including untracked
	lc = log -1
	undo = reset --soft HEAD~1
	rename = branch -m
	unstage = restore --staged
	amend = commit --amend --date=now
	lc = log -1
	lg = log
	lgp = log --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --decorate=full
	url = remote -v
	rb = rebase --ignore-date
	pl = pull
	plf = pull --ff-only
	ds = diff --staged
[pull]
	default = current
	rebase = true
[push]
    autoSetupRemote = true
    default = current
    followTags = true
[rebase]
	autoStash = true
	missingCommitsCheck = warn
[init]
	defaultBranch = main
